<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
	<Properties>
		<Property name="basePath">${sys:jboss.home}</Property>
	</Properties>

	<Appenders>
		<RollingFile name="fileLogger"
			fileName="C:\wildfly-24.0.1.Final\standalone\log\books-service.log"
			filePattern="C:\wildfly-24.0.1.Final\standalone\log\books-service\books-service-%d{yyyy-MM-dd}.log.gz">
			<PatternLayout>
				<pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
				</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
				<SizeBasedTriggeringPolicy size="10MB" />
			</Policies>
			<!-- Max 10 files will be created everyday -->
			<DefaultRolloverStrategy>
			</DefaultRolloverStrategy>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="info" additivity="false">
			<appender-ref ref="fileLogger" />
		</Root>
	</Loggers>
</Configuration>